@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sancreek";
  src: url("./assets/fonts/Sancreek-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}